@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-blue: #0065fc;
  --main-blue-light: #deebff;
  --main-grey: #f2f2f2;
  --main-white: #fff;
  --padding-mobile: 10px 10px;
  --padding-mobile-nav: 10px;
  --padding-left-mobile-section: 0.5rem;
}

html {
  font-size: 15px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1{
  font-size:1.6rem;
}

h2 {
  font-size: 1.25rem;
  padding-right: 20px;
  font-weight: 800;
}

section {
  padding-left: var(--padding-left-mobile-section);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

p {
  font-size: 0.95rem;
}

li {
  list-style: none;
}

/* ### HEADER ### */
navbar a {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

#logo {
  height: 55px;
  margin-top: 30px;
  margin-left: 5%;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  flex-wrap: wrap-reverse;
}

#inscription {
  position: relative;
  bottom: 40px;
  margin-right: 5%;
  color: var(--main-blue);
}

#accomodation {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px var(--main-blue);
  color: var(--main-blue);
  padding-bottom: 10px;
  padding-left:19px;
  position: relative;
}

#activity {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px var(--main-grey);
  padding-bottom: 10px;
  padding-right:5px;
  position: relative;
}

#header-text {
  padding-left: var(--padding-left-mobile-section);
  margin-top:18px;
  margin-bottom:10px;
}

#header-text p {
  margin-top: 0.7rem;
  margin-bottom:2rem;
  font-size: 17px;
}

#search-box {
  padding-left: var(--padding-left-mobile-section);
  margin-top: 20px;
  margin-left: 3%;
  height: 40px;
  border-radius: 40px;
  
}

#map-point {
  background-color: var(--main-grey);
  border-radius: 16% 0% 0% 16%;
  font-size: 25px;
  position: absolute;
  width: 40px;
  height:40px;
  text-align: center;
}

#map-point i {
  font-size: small;
}

#search-text {
  border: solid 1px var(--main-grey);
  background: none;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 312px;
  height: 40px;;
  padding-left: 50px;
  border-radius: 7px;
}

#search-box button {
  color: white;
  width: 42px;
  height: 40px;
  border-radius: 34%;
  background: var(--main-blue);
  border: solid 1px var(--main-blue);
  position: absolute;
  left:292px;
  box-shadow: none;
}

#btn-search-text {
  display: none;
}

/* ## FILTER ## */

#filter{
  margin-top:38px;
}

#filter h3{
  margin-left:15px;
  margin-bottom:-27px;
}

#filter-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-list li {
  display: flex;
  position: relative;
  top: 25px;
  margin: 10px;
}

#filter-list li:nth-child(3) {
  margin-right: 50%;
}



.filter-icone {
  background-color: var(--main-blue-light);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: -5px;
}

.filter-icone i {
  color: var(--main-blue);
  position: absolute;
  top: 31%;
  left: 37%;
}

.filter-item-zone {
  height: 50px;
  border: solid 1px var(--main-blue-light);
  border-radius: 20px;
  padding-left: 56px;
  font-weight: bold;
  width: 155px;
  background-color: #fff;
  margin-right:8px;
}

#animal{
  width:200px;
}

#information-container {
  margin-top: 40px;
  padding-left: 20px;
  display: flex;
}

#icon-info {
  display: flex;
  height: 25px;
  width: 29px;
  border: solid 1px var(--main-grey);
  border-radius: 50%;
}

#icon-info i {
  margin: auto;
  font-size: 0.95rem;
  color: var(--main-blue);
}

#information-container p {
  padding-left: 20px;
  word-spacing: 3px;
}

/* ## MOST-POPULAR-SECTION ## */
#most-popular {
  margin-top: 27px;
  background-color: var(--main-grey);
  padding-left: var(--padding-left-mobile-section);
  padding-bottom:6px;
}

#popular-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 20px 10px;
}

.popular-image {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  background-color: #fff;
  width: 95%;
  height: 130px;
  border-radius: 12px;
}

.popular-image img {
  margin-right: 25px;
  width:30%;
  height: auto;
  border-radius: 12px 0 0 12px;
  object-fit:cover;
}

figure h3 {
  margin-bottom: 10px;
}

figure p {
  margin-bottom: 30px;
}

.euro {
  font-weight: bold;
}

.popular-star-activated {
  color: var(--main-blue);
}

.popular-star-disabled {
  color: var(--main-grey);
}

/* ACCOMODATION CONTAINER */
#accomodation-container {
  background-color: var(--main-white);
}

#accomodation-container h2 {
  margin-bottom: 25px;
  padding-top: 20px;
}

.accomodation-image {
  background-color: #fff;
  width:97%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 5px 5px gray;

}

.accomodation-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.accomodation-image figcaption {
  bottom: -56px;
  width: 95%;
}

.accomodation-image p{
  margin-bottom:10px;
}

#button-more {
  background-color: var(--main-white);
  border: none;
  font-weight: bold;
  font-size: 20px;
}

/* ACTIVITY CONTAINER */
#activity-container {
  margin-top: 30px;
}

#activity-container h2 {
  margin-bottom: 25px;
}

.activity-image {
  height: auto;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 12px 12px 2px 1px #ece7e7a1;
}

.activity-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit:cover
}

.activity-image figcaption {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20px;
}

/* ### FOOTER ### */
footer {
  background-color: var(--main-grey);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

footer div {
  padding-left: var(--padding-left-mobile-section);
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer div:nth-child(1) h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#our-accomodations h3,
#assist h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer a {
  margin-bottom: 13px;
}
