@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-blue: #0065fc;
  --main-blue-light: #deebff;
  --main-grey: #f2f2f2;
  --main-white: #fff;
  --padding-mobile: 10px 10px;
  --padding-mobile-nav: 10px;
  /* --padding-left-mobile-section: 0.5rem; */
  --desktop-padding-left: 1%;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.25rem;
  padding-right: 20px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

p {
  font-size: 0.95rem;
}

li {
  list-style: none;
}

/*************** HEADER *************/

nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

nav a:nth-child(1) {
  padding-left: 4%;
}

nav ul li:nth-child(1) {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px var(--main-blue);
  padding-bottom: 10px;
  font-size: 0.9rem;
}

#accomodation,
#inscription {
  color: var(--main-blue);
  font-weight: bold;
}

nav ul li:nth-child(2) {
  width: 50%;
  text-align: center;
  border-bottom: solid 3px #f2f2f2;
  padding-bottom: 10px;
  font-size: 0.9rem;
}

nav ul li:nth-child(3) {
  position: absolute;
  bottom: 56px;
  margin-right: 5%;
  font-size: 0.9rem;
}

#header-text {
  padding-left: 4%;
  margin-top: 18px;
  margin-bottom: 10px;
  padding-right: 15%;
}

#header-text h1 {
  font-size: 1.5em;
}

#header-text p {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
  font-size: 1.1em;
}

#search-box {
  margin-top: 20px;
  padding-left: 4%;
  height: 50px;
  border-radius: 40px;
  display: flex;
}

#map-point {
  background-color: var(--main-grey);
  border-radius: 16% 0% 0% 16%;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-point i {
  font-size: small;
}

#search-text {
  border: solid 1px var(--main-grey);
  background: none;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 312px;
  height: 50px;
  padding-left: 63px;
  border-radius: 7px;
}

#search-btn {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 34%;
  background: var(--main-blue);
  border: solid 1px var(--main-blue);
  position: absolute;
  left: 311px;
  box-shadow: none;
}

#btn-search-text {
  display: none;
}

/* ## FILTER ## */

#filter-flex {
  margin-top: 7%;
  padding-left: 4%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#filter-flex h3 {
  margin-bottom: -6%;
}

#filter-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-list li {
  display: flex;
  position: relative;
  top: 25px;
  margin: 8px;
  cursor: pointer;
}

#filter-list li button:hover {
  background-color: rgb(204, 168, 204);
  font-size: 1.03rem;
}


.filter-icone {
  background-color: var(--main-blue-light);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5px;
}

.filter-icone i {
  color: var(--main-blue);
  position: absolute;
}

.filter-item-zone {
  height: 50px;
  border: solid 1px var(--main-blue-light);
  border-radius: 20px;
  padding-left: 56px;
  padding-right: 15px;
  font-weight: bold;
  width: 150px;
  background-color: #fff;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#animal {
  width: 200px;
}

#information-container {
  margin-top: 40px;
  padding-left: 20px;
  display: flex;
}

#icon-info {
  display: flex;
  height: 25px;
  width: 29px;
  border: solid 1px var(--main-grey);
  border-radius: 50%;
}

#icon-info i {
  margin: auto;
  font-size: 0.95rem;
  color: var(--main-blue);
}

#information-container p {
  padding-left: 20px;
  word-spacing: 3px;
}

/******************** MOST POPULAR-SECTION ***********************/

#most-popular {
  margin-top: 27px;
  background-color: var(--main-grey);
  padding-left: var(--padding-left-mobile-section);
  padding-bottom: 6px;
}

#popular-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 5% 20px 5%;
}

.popular-image {
  margin: 0 auto 20px;
  padding: 10px;
  display: flex;
  background-color: #fff;
  width: 90%;
  height: 130px;
  border-radius: 12px;
}

.popular-image img {
  margin-right: 25px;
  width: 30%;
  height: auto;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
}

.popular-image figcaption{
  display:flex;
  flex-direction:column;
  justify-content: space-between;

}
figure h3 {
  margin-bottom: 10px;
}

figure p {
  margin-bottom: 30px;
}

#graphic {
  font-size: larger;
}

.euro {
  font-weight: bold;
}

.popular-star-activated {
  color: var(--main-blue);
}

.popular-star-disabled {
  color: var(--main-grey);
}

/************************* ACCOMODATION SECTION ************************************/
#accomodation-container {
  background-color: var(--main-white);
}

#accomodation-container h2 {

  margin-bottom: 25px;
  padding-top: 20px;
  padding-left: 7%
}

.accomodation-image {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: 0px auto 25px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 5px 5px gray;
}

.accomodation-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.accomodation-image figcaption {
  bottom: -56px;
  width: 95%;
}

.accomodation-image p {
  margin-bottom: 10px;
}

#button-more {
  background-color: var(--main-white);
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding-left: 6%;
}

/*******************************  ACTIVITY SECTION ******************************/

#activity-container {
  margin-top: 30px;
}

#activity-containe-flex {
  width: 90%;
  margin: 0 auto;
}

#activity-item-1,
#activity-item-2,
#activity-item-3,
#activity-item-4 {
  width: 90%;
  margin: auto;
}

#activity-container h2 {
  margin-bottom: 25px;
  padding-left: 6%;
}

.activity-image {
  height: auto;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 12px 12px 2px 1px #ece7e7a1;
}

.activity-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.activity-image figcaption {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20px;
}

#act-img-1 {
  height: 50%;
}

/************** FOOTER *************/
footer {
  background-color: var(--main-grey);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

footer div {
  padding-left: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer div:nth-child(1) h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#our-accomodations h3,
#assist h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer a {
  margin-bottom: 13px;
}

/***************************** MEDIA QUERIES *********************************/

@media all and (min-width: 432px) {
  .accomodation-image img {
    object-fit: initial;
    object-position: unset;
  }

  #information-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  #filter-list {
    justify-content: space-around;
    margin-left: 10%;
  }

  #filter-list li:nth-child(2) {
    margin-right: 20%;
  }

  #filter-list li:nth-child(3) {
    margin-right: 20%;
  }

  #filter-list li:nth-child(4) {
    left: -19%;
  }

  footer {
    flex-direction: row;
  }

  footer h3 {
    text-align: center;
  }

  footer a {
    text-align: center;
  }

  footer div:nth-child(1) h3 {
    margin-top: 30px;
  }
}

@media all and (min-width: 663px) {
  #filter-list {
    justify-content: flex-start;
  }

  #filter-list li:nth-child(2),
  #filter-list li:nth-child(3) {
    margin-right: 0%;
  }

  #filter-list li:nth-child(4) {
    left: 0%;
  }

  #most-popular-flex{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
  }

  .popular-image{
    width:40%;
  }
  #activity-item-1, 
  #activity-item-2, 
  #activity-item-3, 
  #activity-item-4 {
    width: 50%;
    margin: auto;
  }
}

@media all and (min-width: 759px) {
  #accomodation-container-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #accomodation-container-flex a {
    width: 40%;
    margin: 0 10px;
  }

  #graphic {
    font-size: x-large;
  }

  #popular-header {
    padding: 17px 4% 27px;
  }


}

@media all and (min-width:960px){
footer div {
    padding-left: 5%;
   
}
} 

  @media all and (min-width: 1262px) {

    /********************* HEADER QUERIES *****************************/
    body {
      padding: 0 1%;
      width: 100%;
      margin: auto;
    }

    #logo {
      margin: 0;
    }

    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      flex-wrap: nowrap;
      align-items: center;
      height: 55px;
      padding-top: 2%;
    }

    #test-header nav a:nth-child(1) {
      padding-left: var(--desktop-padding-left);

    }

    nav ul {
      display: flex;
      margin-top: 0;
      width: 100%;
      position: relative;
    }

    nav li {
      list-style: none;
      display: flex;
      padding: 0px;
      height: 82px;
      width: 100px;
      align-items: center;
      margin: 0;
    }

    nav ul li:nth-child(1) {
      margin-right: 0;
      width: 95px;
      padding-bottom: 0px;
      border-bottom: none;
      border-top: 3px solid var(--main-blue);
    }

    nav ul li:nth-child(2) {
      width: 95px;
      padding-bottom: 0px;
      border-bottom: none;
      display: flex;
      justify-content: center;
      margin: 0 50px
    }

    nav ul li:nth-child(3) {
      width: 95px;
      position: relative;
      bottom: 0px;
      margin-right: 0;
      margin-left: 0;
      display: flex;
      justify-content: center;
    }

    #accomodation {
      border-bottom: none;
      padding-bottom: 0px;
      width: 0px;
      padding-left: 0%;
    }

    #activity {
      border: none;
      padding-bottom: 0px;
      padding-left: 0%;
    }

    #inscription {
      bottom: 0;
      color: var(--main-blue);
      font-weight: bold;
      padding-left: 0%;
    }

    #header-text {
      margin-left: 0%;
      padding-left: var(--desktop-padding-left);
    }
    #map-point {
      width:49px;
    }
    #search-box {
      justify-content: left;
      margin-left: 0%;
      margin-bottom: 2%;
      padding-left: var(--desktop-padding-left);
    }

    #search-text{
      border-radius: 7px 0px 0px 7px;
      padding-left:65px;
    }

    #search-btn {
      display: none;
    }

    #btn-search-text {
      display: block;
      color: white;
      width: 108px;
      height: 50px;
      border-radius: 0 10% 10% 0;
      background: var(--main-blue);
      border: solid 1px var(--main-blue);
      /* position: absolute;
      left: 19%; */
      box-shadow: none;
    }

    #filter {
      position: relative;
    }

    #filter-flex {
      display: flex;
      align-items: center;
      padding-left: var(--desktop-padding-left);
      margin-top:3%;
    }

    #filter-flex h3 {
      margin-bottom: 0%;
    }

    #filter-list {
      width: 73%;
      margin-left: 3%;
    }

    #filter-flex #filter-list li {
      margin: 0;
      margin-right: 10px;
      top: 0;
    }

    #filter-list li:nth-child(2) {
      margin-right: 0;
    }

    #information-container {
      margin-top: 46px;
      margin-bottom: 15px;
    }

    #filter h3 {
      margin-bottom: 0;
    }

    #information-container {
      display: flex;
      align-items: baseline;
      height: 21px;
      padding-left: var(--desktop-padding-left);
    }


    #main {
      margin-top: 30px;
    }

    /****************** MOST POPULAR SECTION RESPONSIVE  ********************/
    #most-popular {
      border-radius: 2%;
      
    }

    #graphic {
      margin-right: 6%;
    }

    /************* ACCOMODATION  SECTION RESPONSIVE *************************/

    #accomodation-container {
      width: 70%;
      background-color: var(--main-grey);
      margin-left: 1.25%;
      border-radius: 2%;
      padding-bottom: 2%;
    }

    #accomodation-container h2 {
      margin-right: 51%;
      padding-left: 5%
    }

    #accomodation-container-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    #accomodation-container a {
      width: 26%;
    }

    .accomodation-image {
      width: 100%;
    }

    #button-more {
      background-color: var(--main-grey);
      padding-left: 6%;
      margin-left: 0%;
      margin-top: 2%;
    }

    /******************   MOST POPULAR SECTION RESPONSIVE   ********************/

    #most-popular {
      width: 26%;
      float: right;
      margin-right: 0%;
      margin-top: 0;
      padding-left: 1%;
    }

    .popular-image {
      height: 161px;
      width: 92%;
      margin-left: 0%;
    }

    .popular-image img {
      width: 37%;
    }

    .popular-image figcaption {

      display: flex;
      flex-direction: column;
      justify-content: space-around;

    }


    /******************** ACTIVITY SECTION QUERIES ****************************/

    .activity-image {
      margin-bottom: 0px;
      box-shadow: 3px 3px 2px 2px #ece7e7a1;
    }

    .activity-image figcaption {
      margin: 0;
      padding-left: 5%;
      display: flex;
      align-items: center;
    }

    figure h3 {
      margin-bottom: 0px;
    }

    #activity-container {
      margin-top: 40px;
      margin-bottom: 30px;
      width: 100%;
    }

    #activity-container h2 {
      padding-left: 1.22%;
    }

    #activity-container-flex {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      height: 400px;

    }

    #activity-container-flex div {
      width: 23%;
    }

    #activity-item-1,
    #activity-item-3 {
      align-self: stretch;
      height: 100%;
    }

    #activity-item-1 a .activity-image,
    #activity-item-3 a .activity-image {
      height: 100%;
      display: block;
    }

    #activity-item-1 a .activity-image img,
    #activity-item-3 a .activity-image img {
      height: 87%;
      object-fit: none;
    }

    #act-img-1 figcaption,
    #act-img-2 figcaption {
      height: 14%;
    }

    #activity-item-2,
    #activity-item-4 {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }


    /* ACTIVUTY ITEMS 2  1st ELEMENT */

    #activity-item-2 a .activity-image {
      margin-bottom: 2px;
    }

    /* #activity-items-2 a:nth-child(2), #activity-items-{
  height: 50%;
width: 95%;
border: 1px solid var(--main-grey);
border-radius: 3%;
}  */

    #activity-link-01,
    #activity-link-04 {
      height: 53%;
      display: block;
    }

    #activity01,
    #activity04 {
      height: 100%;
    }

    #activity01 img,
    #activity04 img {
      height:
        151px
    }

    #activity01 figcaption,
    #activity04 figcaption {
      display: flex;
      align-items: center;
      height: 32%;
    }


    /* ACTIVITY 2  */
    #activity-link-02,
    #activity-link03 {

      height: 38%;
      border: 1px solid gray;
      border-radius: 7%;
    }


    #activity02,
    #activity03 {

      height: 100%;
      border: 1px solid var(--main-grey);
    }

    #activity02 figcaption,
    #activity03 figcaption {
      display: flex;
      align-items: center;
      height: 40%;
    }

    #activity02 img,
    #activity03 img {
      height: 108px;
    }

    #activity02 h3,
    #activity03 h3 {
      margin-bottom: 10px;
    }

    /********************** FOOTER  SECTION QUERIES *******************************/

    footer {
      background-color: var(--main-grey);
    }

    footer div {
      padding-left: var(--desktop-padding-left);
     
  }


    footer h3 {
      text-align: left;
    }

    footer a {
      text-align: left;
    }
  }