@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-blue: #0065fc;
  --main-blue-light: #deebff;
  --main-grey: #f2f2f2;
  --main-white: #fff;
  --padding-mobile: 10px 10px;
  --padding-mobile-nav: 10px;
  /* --padding-left-mobile-section: 0.5rem; */
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body{
  max-width: 1400px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1{
  font-size:1.6rem;
}

h2 {
  font-size: 1.25rem;
  padding-right: 20px;
  font-weight: 800;
}

section {
  padding-left: var(--padding-left-mobile-section);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

p {
  font-size: 0.95rem;
}

li {
  list-style: none;
}

/*************** HEADER *************/

nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: 20px;
}



nav ul li:nth-child(1){
    width: 50%;
    text-align: center;
   border-bottom: solid 3px var(--main-blue);
    padding-bottom: 10px;
    font-size: 0.9rem;
}
#accomodation{
  color:var(--main-blue);
}

nav ul li:nth-child(2){

    width: 50%;
    text-align: center;
   border-bottom: solid 3px #f2f2f2;
    padding-bottom: 10px;
    font-size: 0.9rem;
}

nav ul li:nth-child(3){

  position: absolute;
  bottom: 56px;
  margin-right: 5%;
 font-size: 0.9rem;
}


#header-text {
  padding-left: var(--padding-left-mobile-section);
  margin-top:18px;
  margin-bottom:10px;
}

#header-text p {
  margin-top: 0.7rem;
  margin-bottom:2rem;
  font-size: 17px;
}

#search-box {
  padding-left: var(--padding-left-mobile-section);
  margin-top: 20px;
  margin-left: 3%;
  height: 40px;
  border-radius: 40px;
  display:flex;
}

#map-point {
  background-color: var(--main-grey);
  border-radius: 16% 0% 0% 16%;
  font-size: 25px;
  position: absolute;
  width: 40px;
  height:40px;
  text-align: center;
}

#map-point i {
  font-size: small;
}

#search-text {
  border: solid 1px var(--main-grey);
  background: none;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 312px;
  height: 40px;;
  padding-left: 50px;
  border-radius: 7px;
}

#search-btn {
  color: white;
  width: 42px;
  height: 40px;
  border-radius: 34%;
  background: var(--main-blue);
  border: solid 1px var(--main-blue);
  position: absolute;
  left:311px;
  box-shadow: none;
}

#btn-search-text {
  display: none;
}

/* ## FILTER ## */

#filter{
  margin-top:38px;
}

#filter h3{
  margin-left:15px;
  margin-bottom:-27px;
}

#filter-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-list li {
  display: flex;
  position: relative;
  top: 25px;
  margin: 10px;
}

#filter-list li button:hover{
  background-color: rgb(204, 168, 204);
  font-size:1.03rem;

}


#filter-list li:nth-child(3) {
  margin-right: 50%;
}



.filter-icone {
  background-color: var(--main-blue-light);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: -5px;
}

.filter-icone i {
  color: var(--main-blue);
  position: absolute;
  top: 31%;
  left: 37%;
}

.filter-item-zone {
  height: 50px;
  border: solid 1px var(--main-blue-light);
  border-radius: 20px;
  padding-left: 56px;
  font-weight: bold;
  width: 155px;
  background-color: #fff;
  margin-right:8px;
}

#animal{
  width:200px;
}

#information-container {
  margin-top: 40px;
  padding-left: 20px;
  display: flex;
}

#icon-info {
  display: flex;
  height: 25px;
  width: 29px;
  border: solid 1px var(--main-grey);
  border-radius: 50%;
}

#icon-info i {
  margin: auto;
  font-size: 0.95rem;
  color: var(--main-blue);
}

#information-container p {
  padding-left: 20px;
  word-spacing: 3px;
}

/******************** MOST POPULAR-SECTION ***********************/

#most-popular {
  margin-top: 27px;
  background-color: var(--main-grey);
  padding-left: var(--padding-left-mobile-section);
  padding-bottom:6px;
}

#popular-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 20px 10px;
}

.popular-image {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  background-color: #fff;
  width: 95%;
  height: 130px;
  border-radius: 12px;
  margin-left:3%;
}

.popular-image img {
  margin-right: 25px;
  width:30%;
  height: auto;
  border-radius: 12px 0 0 12px;
  object-fit:cover;
}

figure h3 {
  margin-bottom: 10px;
}

figure p {
  margin-bottom: 30px;
}

.euro {
  font-weight: bold;
}

.popular-star-activated {
  color: var(--main-blue);
}

.popular-star-disabled {
  color: var(--main-grey);
}

/************************* ACCOMODATION SECTION ************************************/
#accomodation-container {
  background-color: var(--main-white);
}

#accomodation-container h2 {
  margin-bottom: 25px;
  padding-top: 20px;
}

.accomodation-image {
  background-color: #fff;
  width:97%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 5px 5px gray;

}

.accomodation-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.accomodation-image figcaption {
  bottom: -56px;
  width: 95%;
}

.accomodation-image p{
  margin-bottom:10px;
}

#button-more {
  background-color: var(--main-white);
  border: none;
  font-weight: bold;
  font-size: 20px;
}

/*******************************  ACTIVITY SECTION ******************************/
#activity-container {
  margin-top: 30px;
}

#activity-container h2 {
  margin-bottom: 25px;
}

.activity-image {
  height: auto;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 12px 12px 2px 1px #ece7e7a1;
}

.activity-image img {
  height: 130px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit:cover
}

.activity-image figcaption {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20px;
}

#act-img-1{
  height:50%;
}

/* ### FOOTER ### */
footer {
  background-color: var(--main-grey);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

footer div {
  padding-left: var(--padding-left-mobile-section);
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer div:nth-child(1) h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

#our-accomodations h3,
#assist h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer a {
  margin-bottom: 13px;
}



/***************************** MEDIA QUERIES *********************************/


@media all  and (min-width:432px){
.accomodation-image img {
  object-fit: initial;
  object-position: unset;
}
}


@media screen and (orientation: landscape) {


  #filter-list{
   justify-content:space-around;
   margin-left:10%
  }
 
  #filter-list li:nth-child(2) {
    margin-right: 20%;
}

    #filter-list li:nth-child(3) {
      margin-right: 20%;
  }
  #filter-list li:nth-child(4) {
    left:-19%;
}


  footer{
    flex-direction:row;
  }
  footer h3{
    text-align: center;
  }
  footer a{
    text-align:center;
  }
  footer div:nth-child(1) h3 {
    margin-top: 30px;
}
}

@media all  and (min-width:663px){
  #filter-list{
      justify-content: flex-start;
  }
  #filter-list li:nth-child(2),#filter-list li:nth-child(3) {
    margin-right: 0%;
}
#filter-list li:nth-child(4) {
  left: 0%;
}

}

@media all  and (min-width:1100px){

/********************* HEADER QUERIES *****************************/
  body{
    padding:0 1%;
  }

#logo{
  margin:0;
}


nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  height:55px;
 
}
nav ul {
    display: flex;
    margin-top:0;
    width: 100%;
    position: relative;

}


nav li {
  list-style: none;
  display: flex;
  padding: 0px;
  height: 55px;
  align-items: center;
  margin: 0 10px;
} 

nav ul li:nth-child(1) {
  width:8%;
  padding-bottom: 0px;
  border-bottom:none;
  border-top: 3px solid var(--main-blue);
}

nav ul li:nth-child(2) {
  width:8%;
  padding-bottom: 0px;
  border-bottom:none;
}

nav ul li:nth-child(3) {
  width:8%;
  position:relative;
  bottom:0px;
  margin-right:0%;
}

#accomodation{
  border-bottom:none;
  padding-bottom:0px;
  width:0px;
}

#activity{
  border:none;
  padding-bottom:0px;
}
#inscription{
  bottom:0;
}

#search-btn{
  display:none;
}

#btn-search-text {
  display: block;
  color: white;
  width: 108px;
  height: 40px;
  border-radius: 0 10% 10% 0;
  background: var(--main-blue);
  border: solid 1px var(--main-blue);
  position: absolute;
  left:270px;
  box-shadow: none;

}

#filter{
  position: relative;
}

#filter-flex{
  display:flex;
  align-items: center;
}

#filter-list{
  width:73%;
  margin-left:3%;
}
#filter-list li{
  margin:0;
  top:0

}
#filter-list li:nth-child(2) {
  margin-right: 0;
}
  #information-container{
    margin-top: 46px;
    margin-bottom:15px;
  }

  #filter h3{
    margin-bottom:0;
  }

  #informtion-container{
    display:flex;
    align-items: baseline;
    height:21px;
  }

/************* ACCOMODATION  SECTION RESPONSIVE *************************/

  #accomodation-container{
    width:68%;
    background-color: var(--main-grey);
    margin-left:1%; 
  }

  #accomodation-container h2 {
    margin-right: 51%;
  }

  #accomodation-container-flex{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  #accomodation-container a{
    width :30%;
  }
  #button-more {
    background-color: var(--main-grey);
  }

  #most-popular{
    width:26%;
    float:right;
    margin-right:1%;
    margin-top:0;
    padding-left:1%;
  }

  .popular-image{
    height:153px;
    width:332px;
    margin-left:0%;
  }

  .popular-image img {
    width: 37%;
  }


  #accomodation-container{
    width:70%;
  }
/******************** ACTIVITY SECTION QUERIES ****************************/

.activity-image {

  margin-bottom: 0px;
  box-shadow: 3px 3px 2px 2px #ece7e7a1;

}
#activity-container{

margin-top: 40px;
margin-bottom:30px;
width:100%;
}

#activity-container-flex{
  display:flex;
  justify-content: space-around;
  align-items: stretch;
  height:400px;

}

#activity-container-flex div{
  width:20%;
}

#activity-item-1, #activity-item-3  {
  align-self:stretch;
  height:100%;
}

#activity-item-1 a .activity-image, #activity-item-3 a .activity-image {
  height:100%;
  display:block;
}

#activity-item-1 a .activity-image img, #activity-item-3 a .activity-image img{
  height: 82%;
}
#activity-item-2 a .activity-image{
  margin-bottom:2px
}

#activity-item-2, #activity-item-4{

    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/********************** FOOTER  SECTION QUERIES *******************************/

footer{
  background-color: var(--main-grey);
}
  footer h3{
    text-align:left;
  }

  footer a{
    text-align:left
  }
}

