:root
{
    --main-blue: #0065fc;
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
#nav-bar  a
{
    list-style: none;
    text-decoration: none;
    color: black;
}
a:hover
{
    color:var(--main-blue, pink);
}
#inscription
{
    color:var(--main-blue);
}
#accomodation
{

}